body {
  background-image: url("../imgs/Dave.jpg");
  width: 100%;
  height: auto;
}
/* Title */
h1 {
  color: white;
  text-align: center;
}
/* Label Text */
.text {
  color: lightgrey;
}
/* Centering Forms */
div {
  width: 50%;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}
/* Result Text color */
p {
  color: lightgrey;
}
